.address-content__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}

.address-content__address-store {
  font-family: $lato;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
}
