.advantages {
  padding: 0 20px 49px;

  @media (min-width: $tablet-width) {
    padding: 0 105px 47px 30px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desctop-width) {
    margin: 0 auto;
    width: 1440px;
    padding: 0 110px 69px;
    border-bottom: none;
  }
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: index;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 153px;
    row-gap: 37px;
  }

  @media (min-width: $desctop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 78px;
  }
}

.advantages__item {
  position: relative;
  display: flex;
  align-items: center;
  counter-increment: listCounter;

  &::before {
    content: counters(index, ".", decimal) "";
    counter-increment: index;
    position: absolute;
    display: none;
    font-family: $oswald;
    color: #f2f2f2;
    font-size: 280px;
    z-index: -1;
    top: -100px;
    right: 14px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0 63px;

    &::before {
      display: block;
    }
  }
}

.advantages__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #69b738;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 31px;
  }
}

.advantages__description {
  font-family: $lato;
  width: calc(100% - 80px);
  font-size: 14px;
  line-height: 18px;
  color: #454545;
  margin: 0;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 245px;

    & br {
      display: block;
    }
  }
}
