.card-content {
  position: relative;
}

.card-content__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desctop-width) {
    display: flex;
    align-items: center;
    margin-bottom: 39px;
  }
}

.card-content__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 206px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 0;
  }
}

.card-content__icon-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  order: -1;
  width: 50px;
  height: 50px;
  background-color: #69b738;
  border-radius: 50%;
  margin-right: 19px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 25%;
    right: 62px;
    margin-right: 0;
  }

  @media (min-width: $desctop-width) {
    position: relative;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
    margin-right: 62px;
  }
}

.card-content__icon--slim {
  position: absolute;
  top: -3px;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
  }

  @media (min-width: $desctop-width) {
    width: 70px;
    height: 97px;
    top: -6px;
  }
}

.card-content__icon--pro {
  position: absolute;
  right: -5px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
  }

  @media (min-width: $desctop-width) {
    width: 134px;
    height: 56px;
    right: -5px;
  }
}

.card-content__description {
  font-family: $lato;
  font-size: 14px;
  line-height: 18px;
  color: #454545;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: 340px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 48px;
  }

  @media (min-width: $desctop-width) {
    width: 457px;
    margin-bottom: 23px;
  }
}

.card-content__button {
  display: block;
  background-image: url("../img/card-content-arrow.svg");
  background-repeat: no-repeat;
  background-position: right;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  width: 87px;
  padding: 4px 47px 4px 0;

  &:hover {
    background-image: url("../img/card-content-arrow-hover.svg");
    transition: 0.5s;
  }

  &:active {
    opacity: 0.3;
  }
}
