.card-catalog__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 18px;
}

.card-catalog__title:last-of-type {
  margin-bottom: 8px;
}

.card-catalog__description {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-catalog__item {
  font-family: $lato;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.card-catalog__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-catalog__text {
  font-family: $lato;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.card-catalog__button {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #69b738;
  padding: 7px 44px;
}

.card-catalog__button--color {
  color: #444444;
  background-color: #f2f2f2;
}
