.cat-boris {
  position: relative;
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 560px;
  }

  @media (min-width: $desctop-width) {
    margin: 0;
    align-self: flex-start;
  }
}

.cat-boris__before {
  background-image: url("../img/cat-boris-before.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 280px;
  height: 256px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cat-boris-before@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/cat-boris-before-tablet.png");
    width: 560px;
    height: 512px;
    background-position: 2px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-boris-before-tablet@2x.png");
    }
  }
}

.cat-boris__after {
  background-image: url("../img/cat-boris-after.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 280px;
  height: 256px;
  background-position: -139px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cat-boris-after@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/cat-boris-after-tablet.png");
    background-position: -279px;
    width: 560px;
    height: 512px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-boris-after-tablet@2x.png");
    }
  }
}

.cat-boris__toggle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 41%;
  left: 43%;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid #666666;
  fill: #666666;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    left: 46%;
    top: 46%;
  }
}

.cat-boris__toggle::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 113px;
  background-color: #666666;
  border-radius: 2px;
  right: 16px;
  bottom: -315%;

  @media (min-width: $tablet-width) {
    height: 239px;
    bottom: 36px;
    right: 13px;
  }

  @media (min-width: $desctop-width) {
    right: 14px;
  }
}

.cat-boris__toggle::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 107px;
  background-color: #666666;
  border-radius: 2px;
  right: 16px;
  top: -298%;

  @media (min-width: $tablet-width) {
    height: 239px;
    top: 36px;
    right: 13px;
  }

  @media (min-width: $desctop-width) {
    right: 14px;
  }
}

.cat-boris__toggle:hover {
  border-color: #68b738;
  fill: #68b738;
}

.cat-boris__toggle:active {
  opacity: 0.6;
}

.cat-boris__toggle:hover::before {
  background-color: #68b738;
}

.cat-boris__toggle:hover::after {
  background-color: #68b738;
}

.cat-boris__toggle:active::before {
  background-color: #5eaa2f;
}

.cat-boris__toggle:active::after {
  background-color: #5eaa2f;
}
