.catalog {
  padding: 27px 0 25px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    padding: 0 30px 68px;
    border: none;
  }

  @media (min-width: $desctop-width) {
    width: 1440px;
    margin: 0 auto;
    padding: 0 110px 76px;
  }
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 23px;
  padding: 0 20px 41px;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 82px;
    padding: 0;
    border: none;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 84px;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 60px;
  }

  @media (min-width: $desctop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 63px;
  }
}

.catalog__item {
  @media (min-width: $tablet-width) {
    background: linear-gradient(#ffffff 81px, #f2f2f2 81px);
  }
}

.catalog__item:last-child {
  @media (min-width: $tablet-width) {
    align-self: end;
    padding-top: 52px;
    background: #ffffff;
    border: 2px solid #f2f2f2;
  }

  @media (min-width: $desctop-width) {
    padding-top: 40px;
  }
}
