.catalog {
  padding: 27px 0 23px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    padding: 0 30px 68px;
    border: none;
  }

  @media (min-width: $desctop-width) {
    width: 1440px;
    margin: 0 auto;
    padding: 0 110px 76px;
  }
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 19px;
  padding: 0 20px 40px;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 86px;
    padding: 0;
    border: none;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 84px;
  }
}

.catalog__title br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.catalog__list > * {
  min-width: 0;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 62px;
  }

  @media (min-width: $desctop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 63px;
  }
}

.catalog__item {
  @media (min-width: $tablet-width) {
    background: linear-gradient(#ffffff 81px, #f2f2f2 81px);
  }

  @media (min-width: $desctop-width) {
    background: linear-gradient(#ffffff 80px, #f2f2f2 80px);
  }
}
