.catalog-another {
  padding: 25px 20px 35px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 0 30px 76px;
  }

  @media (min-width: $desctop-width) {
    padding: 0;
  }
}

.catalog-another__content {
  @media (min-width: $desctop-width) {
    width: 1440px;
    margin: 0 auto;
    padding: 0 110px 86px;
  }
}

.catalog-another__title {
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding-bottom: 36px;
  border-bottom: 1px solid #ebebeb;

  &::before {
    content: "";
    display: none;
    position: absolute;
    border: 2px solid #68b738;
    width: 10000%;
    top: 25%;
    right: calc(100% + 20px);

    @media (min-width: $tablet-width) {
      display: block;
      top: 50%;
      right: calc(100% + 37px);
    }
  }

  &::after {
    content: "";
    position: absolute;
    border: 2px solid #68b738;
    width: 10000%;
    top: 25%;
    left: calc(100% - 20px);


    @media (min-width: $tablet-width) {
      top: 50%;
      left: calc(100% + 36px);
    }
  }

  @media (min-width: $tablet-width) {
    width: 339px;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    border: none;
    margin-bottom: 80px;
    margin-left: 37px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 81px;
    margin-left: 0;
  }
}

.catalog-another__wrapper {
  @media (min-width: $desctop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.catalog-another__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
    margin-bottom: 69px;
  }

  @media (min-width: $desctop-width) {
    display: flex;
    flex-direction: column;
    width: 896px;
    border: none;
    border-top: 1px solid #cdcdcd;
    padding: 0;
    margin-bottom: 0;
  }
}

.catalog-another__item {
  padding: 13px 0 18px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
  }

  @media (min-width: $desctop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding: 17px 0;
  }
}

.catalog-another__aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #68b738d9;
  // padding: 59px 61px 43px 58px;
  padding: 21% 22% 15% 21%;
  background-image: url("../img/cat-aside.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cat-aside@2x.png");
    background-position: center;
  }


  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 57px 124px 60px 77px;
    background-image: url("../img/cat-aside-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-aside-tablet@2x.png");
    }
  }

  @media (min-width: $desctop-width) {
    flex-direction: column;
    padding: 56px 43px 42px 41px;
    background-image: url("../img/cat-aside-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-aside-desktop@2x.png");
    }
  }
}

.catalog-another__icon-wrapper {
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.catalog-another__icon {
  display: block;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 83px;
  }
}

.catalog-another__text {
  font-family: $lato;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 161px;
    text-align: left;
  }

  @media (min-width: $desctop-width) {
    text-align: center;
  }
}
