.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ffffff;
  padding: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
    padding: 0 30px 45px;
  }

  @media (min-width: $desctop-width) {
    margin: 0 auto;
    width: 1440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 82px 110px 71px;
    gap: 80px;
  }
}

.content__item {
  background-color: #f2f2f2;
  padding: 30px 30px 18px 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 62px 53px 52px;
  }

  @media (min-width: $desctop-width) {
    width: 570px;
    padding: 41px 61px 55px 52px;
  }
}
