.example {
  padding: 25px 20px 40px;
  background-color: #ebebeb;

  @media (min-width: $tablet-width) {
    padding: 43px 30px 100px;
    background: linear-gradient(#ffffff 600px, #ebebeb 600px);
    background-color: #ffffff;
  }

  @media (min-width: $desctop-width) {
    padding: 0;
    background: linear-gradient(#ffffff 170px, #ebebeb 170px);
  }
}

.example br {
  display: none;

  @media (min-width: $desctop-width) {
    display: block;
  }
}

.example-content {
  @media (min-width: $desctop-width) {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
    padding: 0 110px 75px;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 146px;
  }
}

.example__description {
  font-family: $lato;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: $desctop-width) {
    width: 436px;
    margin-bottom: 69px;
  }
}

.example__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 162px);
    column-gap: 42px;
    margin-bottom: 0;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 55px;
  }
}

.example__wrapper-row {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 99px;
  }

  @media (min-width: $desctop-width) {
    display: block;
  }
}

.example__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.example__mesange {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 14px;
  padding-bottom: 17px;
}

.example__text {
  position: absolute;
  width: 77px;
  bottom: 0;
  transform: translateY(50%);
  z-index: 1;
  font-family: $lato;
  text-transform: lowercase;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  background-color: #ebebeb;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: auto;
    white-space: nowrap;
    padding: 0 5px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    bottom: 0;
    transform: translateY(50%);
  }

  @media (min-width: $desctop-width) {
    background-color: #ebebeb;
  }
}

.example__aside {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    font-size: 20px;
    text-align: right;
    width: 174px;
    margin-bottom: 0;
  }

  @media (min-width: $desctop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 327px;
  }
}
