.example {
  padding: 25px 20px 40px;
  background-color: #ebebeb;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 100px;
    background-color: #ffffff;
  }

  @media (min-width: $desctop-width) {
    padding: 0;
    background-color: #ebebeb;
  }
}

.example__title {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.example__description {
  font-family: $lato;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-bottom: 20px;
}

.example__wrapper {
  display: flex;
  justify-content: space-between;
}

.example__wrapper-tablet {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desctop-width) {
    display: block;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.example__desc {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 8px;
}

.example__text {
  font-family: $lato;
  text-transform: lowercase;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
}

.example__aside {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;
}

.example__picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
