.form {
  overflow: hidden;
}

.form__container {
  @media (min-width: $desctop-width) {
    box-sizing: border-box;
    width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
  }
}

.form__title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 39px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    margin-bottom: 66px;
    padding: 0 70px;
  }

  @media (min-width: $desctop-width) {
    box-sizing: border-box;
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 66px;
    padding: 0 110px;
  }
}

.form__input-icon-title,
.form__textarea-title,
.form__checkbox-title {
  margin: 0;
  font-size: 24px;
  line-height: 26px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__input-icon-title {
  position: relative;
  margin-bottom: 35px;
  width: 187px;

  &::after {
    content: "";
    position: absolute;
    display: none;
    width: 10000%;
    border: 2px solid #68b738;

    @media (min-width: $tablet-width) {
      display: block;
      top: 50%;
      right: calc(100% + 39px);
    }

    @media (min-width: $desctop-width) {
      top: 55%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    border: 2px solid #68b738;
    width: 10000%;
    top: 25%;
    left: calc(100% + 14px);

    @media (min-width: $tablet-width) {
      top: 50%;
      right: calc(100% + 42px);
    }

    @media (min-width: $desctop-width) {
      top: 55%;
    }
  }

  @media (min-width: $tablet-width) {
    width: 514px;
    margin-bottom: 76px;
  }
}

.form__textarea-title {
  position: relative;
  margin-bottom: 38px;
  width: 121px;

  &::after {
    content: "";
    position: absolute;
    display: none;
    width: 10000%;
    border: 2px solid #68b738;

    @media (min-width: $tablet-width) {
      display: block;
      top: 50%;
      right: calc(100% + 39px);
    }

    @media (min-width: $desctop-width) {
      top: 55%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    border: 2px solid #68b738;
    width: 10000%;
    top: 50%;
    left: calc(100% + 22px);

    @media (min-width: $tablet-width) {
      top: 50%;
      right: calc(100% + 41px);
    }

    @media (min-width: $desctop-width) {
      top: 55%;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
    width: 182px;
  }
}

.form__wrapper {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
    margin-bottom: 71px;
  }

  @media (min-width: $desctop-width) {
    box-sizing: border-box;
    width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 569px 568px;
    column-gap: 80px;
    margin-bottom: 65px;
    padding: 0 110px;
  }
}

.form__checkbox-title {
  position: relative;
  margin-bottom: 34px;
  width: 141px;

  &::after {
    content: "";
    position: absolute;
    display: none;
    width: 10000%;
    border: 2px solid #68b738;

    @media (min-width: $tablet-width) {
      display: block;
      top: 50%;
      right: calc(100% + 39px);
    }

    @media (min-width: $desctop-width) {
      top: 55%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    border: 2px solid #68b738;
    width: 10000%;
    top: 50%;
    left: calc(100% + 23px);

    @media (min-width: $tablet-width) {
      top: 50%;
      right: calc(100% + 42px);
    }

    @media (min-width: $desctop-width) {
      top: 55%;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
    width: 211px;
  }
}

.form__input-icon,
.form__checkbox,
.form__textarea,
.form__wrapper-button {
  margin: 0;
  padding: 0 20px;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desctop-width) {
    padding: 0;
  }
}

.form__input {
  margin: 0;
  padding: 0 20px;
  margin-bottom: 23px;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 72px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 0;
  }
}

.form__radio {
  margin: 0;
  padding: 23px 20px 18px 20px;
  border: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 25px 28px;
    border: 1px solid #e7e7e7;
  }
}

.form__input-icon {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 67px;
  }
}

.form__textarea {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 67px;
  }
}

.form__checkbox {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 61px;
  }
}

.form__textarea-description {
  font-family: inherit;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  resize: none;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding: 9px 12px;
  border: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    padding: 10px 19px;
    min-height: 174px;
  }
}

.form__wrapper-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 280px 174px;
    column-gap: 64px;
    justify-content: flex-start;
  }

  @media (min-width: $desctop-width) {
    box-sizing: border-box;
    width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
    grid-template-columns: 568px 174px;
    column-gap: 84px;
  }
}

.form__button {
  box-sizing: border-box;
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  border: none;
  color: #ffffff;
  background-color: #69b738;
  width: 280px;
  padding: 7px 44px;
  margin-bottom: 21px;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: #ffffff4d;
    background-color: #5eaa2f;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 0;
    padding: 13px 45px;
  }

  @media (min-width: $desctop-width) {
    width: auto;
    padding: 13px 188px;
  }
}

.form__control {
  font-family: $lato;
  font-size: 14px;
  line-height: 16px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
