.form__title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }
}

.form__owner-title,
.form__comment-title,
.form__additional-title {
  margin: 0;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.form__owner-title {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.form__comment-title {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.form__wrapper {
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    margin-bottom: 71px;
  }

  @media (min-width: $desctop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
  }
}

.form__additional-title {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
}

.form__user,
.form__list,
.form__owner,
.form__additional {
  margin: 0;
  padding: 0;
  border: none;
}

.form__user {
  margin-bottom: 24px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    padding-bottom: 0;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 0;
  }
}

.form__owner {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 67px;
  }
}

.form__comment {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 67px;
  }
}

.form__additional {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 61px;
  }
}

.form__comment-description {
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #444444;
}

.form__wrapper-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__button {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  border: none;
  color: #ffffff;
  background-color: #69b738;
  padding: 7px 44px;
  margin-bottom: 21px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form__control {
  font-family: $lato;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
