.list-form {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-form__layout {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 221px 221px;
    grid-template-rows: auto auto;
    column-gap: 123px;
    row-gap: 32px;
  }

  @media (min-width: $desctop-width) {
    display: flex;
    justify-content: space-between;
    column-gap: 0;
    row-gap: 0;
  }
}

.list-form__item {
  margin-bottom: 13px;
}

.list-form__item:last-child {
  margin-bottom: 0;
}

.list-form__text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}
