.list-radio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 13px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    gap: 22px;
  }
}

.list-radio__label {
  position: relative;
  padding: 5px 0 5px 45px;
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 0 10px 60px;
  }
}

.list-radio__label::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.list-radio__label:hover::before {
  border-color: #bababa;
}

.list-radio__label::after {
  content: "";
  position: absolute;
  display: none;
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%;
  left: 9px;
  top: 11px;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    left: 11px;
    top: 13px;
  }
}

.list-radio__input:checked + .list-radio__label::after {
  display: block;
}

.list-radio__text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
