.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 17px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 18px 30px  62px;
  }

  @media (min-width: $desctop-width) {
    padding: 55px 110px 74px;
  }
}
