.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px 17px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    padding: 0 30px 62px;
  }

  @media (min-width: $desctop-width) {
    width: 1440px;
    margin: 0 auto;
    padding: 55px 110px 74px;
  }
}

.main-header--background {
  @media (min-width: $desctop-width) {
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 694px;
    background-image: url("../img/cat-promo-desktop.png");
    background-color: #68b738d9;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    display: none;
    top: 0;
    right: 0;
    z-index: 2;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-promo-desktop@2x.png");
    }

    @media (min-width: $desctop-width) {
      display: block;
    }
  }
}

.main-header__link {
  align-items: flex-start;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-header__logo {
  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desctop-width) {
    width: 202px;
  }
}
