.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px 17px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    padding: 0 30px 62px;
  }

  @media (min-width: $desctop-width) {
    padding: 55px 110px 74px;
  }
}

.main-header__logo {
  align-items: flex-start;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
