.main-footer {
  background-color: #f2f2f2;
}

.main-footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 55px 30px;
  }

  @media (min-width: $desctop-width) {
    width: 1440px;
    margin: 0 auto;
    padding: 66px 110px;
  }
}

.main-footer__logo {
  margin-bottom: 20px;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-footer__social {
  padding: 20px 75px;
  margin-bottom: 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 0;
    border: none;
  }
}
