.page__body {
  box-sizing: border-box;
  margin: 0;
  width: 320px;
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 769px;
    padding: 0 30px;
  }

  @media (min-width: $desctop-width) {
    box-sizing: border-box;
    width: 1440px;
    padding: 0 110px;
  }
}

// .page__body h1, h2 {
//   font-weight: 400;
// } выдает ошибку при такой записи

.page__body h1 {
  font-weight: 400;
}

.page__body h2 {
  font-weight: 400;
}
