.page__body {
  box-sizing: border-box;
  margin: 0 auto;
  width: 320px;
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  // border: 2px solid #ff0000;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desctop-width) {
    width: 1440px;
  }
}

.page__body h1 {
  font-weight: 400;
}

.page__body h2 {
  font-weight: 400;
}
