.program-cat {
  padding: 27px 0 32px;

  @media (min-width: $tablet-width) {
    padding: 3px 0 72px;
  }

  @media (min-width: $desctop-width) {
    padding: 0 0 82px;
  }
}

.program-cat__title {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  margin-bottom: 37px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
    padding: 0 70px;
  }

  @media (min-width: $desctop-width) {
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 56px;
    padding: 0 110px;
  }
}
