.program-cat {
  padding: 27px 20px 32px;

  @media (min-width: $tablet-width) {
    padding: 3px 70px 67px 72px;
  }

  @media (min-width: $desctop-width) {
    padding: 0 110px 82px;
  }
}

.program-cat__title {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 56px;
  }
}
