.promo {
  position: relative;
  color: #ffffff;
  padding: 27px 20px 0;
  background-image: url("../img/cat-promo.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px 302px;


  @media (min-resolution: 2dppx) {
    background-image: url("../img/cat-promo@2x.png");
  }

  @media (min-width: $tablet-width) {
    color: #000000;
    background-color: #ffffff;
    background-image: none;
    min-height: 810px;
    padding: 0 30px;
  }

  @media (min-width: $desctop-width) {
    margin: 0 auto;
    width: 1440px;
    min-height: 499px;
    padding: 35px 110px 0;
  }
}

.promo::before {
  content: "";
  position: absolute;
  height: 302px;
  width: 100%;
  background: linear-gradient(90deg, rgb(100, 168, 61) 320px, rgb(98, 166, 59) 320px);
  background-size: 100%;
  z-index: -1;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 43px;
    margin-left: 87px;
    width: 420px;
  }

  @media (min-width: $desctop-width) {
    margin-left: 79px;
    margin-bottom: 39px;
  }
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 49px;
    margin-left: 90px;
    width: 283px;
  }

  @media (min-width: $desctop-width) {
    margin-left: 80px;
    margin-bottom: 52px;
  }
}

.promo__picture-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 25%;
    left: 4%;
    margin-bottom: 0;
  }

  @media (min-width: $desctop-width) {
    display: block;
    left: 39%;
    top: -47px;
    z-index: 10;
  }
}

.promo__picture {
  display: flex;

  @media (min-width: $tablet-width) {
    width: 709px;
  }

  @media (min-width: $desctop-width) {
    width: 552px;
  }
}

.promo__button {
  display: block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #69b738;
  padding: 11px 44px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: #ffffff4d;
    background-color: #5eaa2f;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 17px 26px;
    margin-left: 90px;
    width: 244px;
  }

  @media (min-width: $desctop-width) {
    margin-left: 80px;
  }
}
