.site-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 440px;
    border: none;
  }

  @media (min-width: $desctop-width) {
    position: relative;
    width: 478px;
    z-index: 10;
  }
}

.site-list__link {
  position: relative;
  display: block;
  font-weight: 500;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  text-align: center;
  padding: 22px 70px 24px;
  border-top: 1px solid #e6e6e6;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding: 18px 0 12px;
    border: 0;
  }
}

.site-list__link--color {
  @media (min-width: $desctop-width) {
    color: #ffffff;
  }
}

.site-list__link--current::before {
  content: "";
  position: absolute;
  display: none;
  height: 2px;
  background-color: #68b738;
  right: 0;
  bottom: 2px;
  left: 0;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.site-list__link--current-index::before {
  @media (min-width: $desctop-width) {
    background-color: #ffffff;
  }
}
