.social__list {
  display: grid;
  grid-template-columns: repeat(3, 28px);
  column-gap: 24px;
  row-gap: 10px;
  list-style: none;
  width: 132px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 107px;
  }
}

.social__link {
  fill: #666666;

  &:hover {
    fill: #68b738;
    transition: fill 0.3s;
  }

  &:active {
    opacity: 0.5;
  }
}
