.store-location__map--nojs {
  background-image: url("../img/location.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffe4c4;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/location@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/location-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/location-tablet@2x.png");
    }
  }

  @media (min-width: $desctop-width) {
    background-image: url("../img/location-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/location-desktop@2x.png");
    }
  }
}

.store-location--color {
  background-color: #f2f2f2;
}

.store-location__wrapper {
  @media (min-width: $desctop-width) {
    position: relative;
    width: 1440px;
    margin: 0 auto;
  }
}

.store-location__content {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 62px 70px;
  }

  @media (min-width: $desctop-width) {
    position: absolute;
    width: 565px;
    padding: 56px 75px 56px 80px;
    background-color: #ffffff;
    top: 100px;
    left: 110px;
  }
}

.store-location__map {
  display: block;
  width: 100%;
  min-height: 362px;
  border: none;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}
