.store-location {
  @media (min-width: $desctop-width) {
    position: relative;
  }
}

.store-location--color {
  background-color: #f2f2f2;
}

.store-location__content {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 56px 40px;
  }

  @media (min-width: $desctop-width) {
    position: absolute;
    box-sizing: border-box;
    width: 565px;
    padding: 56px 60px 56px 80px;
    background-color: #ffffff;
    top: 95px;
    left: 110px;
  }
}

.store-location__map {
  display: block;
  width: 100%;
  min-height: 362px;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}
