.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/lato-regular.woff2") format("woff2"), url("../fonts/lato/lato-regular.woff") format("woff2");
  font-display: swap;
}
.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
}

.page__main-container {
  flex-grow: 1;
}

.page__body h1 {
  font-weight: 400;
}

.page__body h2 {
  font-weight: 400;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px 17px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-header {
    flex-direction: row;
    align-items: center;
    padding: 0 30px 62px;
  }
}
@media (min-width: 1440px) {
  .main-header {
    width: 1440px;
    margin: 0 auto;
    padding: 55px 110px 74px;
  }
}

@media (min-width: 1440px) {
  .main-header--background {
    position: relative;
  }
}
.main-header--background::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 694px;
  background-image: url("../img/cat-promo-desktop.png");
  background-color: #68b738d9;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  display: none;
  top: 0;
  right: 0;
  z-index: 2;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .main-header--background::before {
    background-image: url("../img/cat-promo-desktop@2x.png");
  }
}
@media (min-width: 1440px) {
  .main-header--background::before {
    display: block;
  }
}

.main-header__link {
  align-items: flex-start;
}
.main-header__link:hover {
  opacity: 0.6;
}
.main-header__link:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .main-header__logo {
    width: 174px;
  }
}
@media (min-width: 1440px) {
  .main-header__logo {
    width: 202px;
  }
}

.site-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 440px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .site-list {
    position: relative;
    width: 478px;
    z-index: 10;
  }
}

.site-list__item {
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .site-list__item {
    border: none;
  }
}

.site-list__item:last-child {
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .site-list__item:last-child {
    border: none;
  }
}

.site-list__link {
  position: relative;
  display: block;
  font-weight: 500;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  text-align: center;
  padding: 22px 70px 24px;
}
.site-list__link:hover {
  opacity: 0.6;
}
.site-list__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .site-list__link {
    font-size: 18px;
    line-height: 24px;
    padding: 18px 0 12px;
  }
}

@media (min-width: 1440px) {
  .site-list__link--color {
    color: #ffffff;
  }
}

.site-list__link--current::before {
  content: "";
  position: absolute;
  display: none;
  height: 2px;
  background-color: #68b738;
  right: 0;
  bottom: 2px;
  left: 0;
}
@media (min-width: 768px) {
  .site-list__link--current::before {
    display: block;
  }
}

@media (min-width: 1440px) {
  .site-list__link--current-index::before {
    background-color: #ffffff;
  }
}

.store-location--color {
  background-color: #f2f2f2;
}

@media (min-width: 1440px) {
  .store-location__wrapper {
    position: relative;
    width: 1440px;
    margin: 0 auto;
  }
}

.store-location__content {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
}
@media (min-width: 768px) {
  .store-location__content {
    padding: 56px 40px;
  }
}
@media (min-width: 1440px) {
  .store-location__content {
    position: absolute;
    width: 565px;
    padding: 56px 60px 56px 80px;
    background-color: #ffffff;
    top: 95px;
    left: 110px;
  }
}

.store-location__map {
  display: block;
  width: 100%;
  min-height: 362px;
}
@media (min-width: 768px) {
  .store-location__map {
    min-height: 400px;
  }
}

.address-content__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}
@media (min-width: 768px) {
  .address-content__text {
    font-size: 20px;
    line-height: 26px;
    width: 172px;
  }
}

.address-content__address-store {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .address-content__address-store {
    font-size: 16px;
    width: 160px;
    text-align: right;
  }
}

@media (min-width: 768px) {
  .adress-content__city {
    display: block;
    margin-top: 28px;
  }
}

.main-footer {
  background-color: #f2f2f2;
}

.main-footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
@media (min-width: 768px) {
  .main-footer__content {
    flex-direction: row;
    justify-content: space-between;
    padding: 55px 30px;
  }
}
@media (min-width: 1440px) {
  .main-footer__content {
    width: 1440px;
    margin: 0 auto;
    padding: 66px 110px;
  }
}

.main-footer__logo {
  margin-bottom: 20px;
}
.main-footer__logo:hover {
  opacity: 0.7;
}
.main-footer__logo:active {
  opacity: 0.5;
}
@media (min-width: 768px) {
  .main-footer__logo {
    margin: 0;
  }
}

.main-footer__social {
  padding: 20px 75px;
  margin-bottom: 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .main-footer__social {
    padding: 0;
    margin-bottom: 0;
    border: none;
  }
}

.social__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 132px;
  margin: 0;
  padding: 0;
}

.social__link {
  fill: #666666;
}
.social__link:hover {
  fill: #68b738;
  transition: fill 0.3s;
}
.social__link:active {
  opacity: 0.5;
}

.html-academy {
  width: 281px;
}
@media (min-width: 768px) {
  .html-academy {
    width: 168px;
  }
}

.html-academy__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Lato", "Arial", sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  fill: #666666;
}
.html-academy__link:hover {
  fill: #68b738;
  transition: fill 0.3s;
}
.html-academy__link:active {
  opacity: 0.5;
}

.main-nav__toggle {
  position: absolute;
  top: 22px;
  right: 24px;
  padding: 0;
  width: 24px;
  height: 21px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover, .main-nav__toggle:active {
  opacity: 0.8;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(#000000, 30%);
  box-shadow: 0 8px 0 0 fade(#000000, 30%), 0 16px 0 0 fade(#000000, 30%);
}

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0;
    z-index: 10;
    background-color: #ffffff;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}
.main-nav--nojs .main-nav__wrapper {
  position: static;
}

.main-nav--nojs .site-list {
  display: block;
  width: 100%;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.main-nav--nojs .site-list__link {
  padding: 22px 50px 24px;
}

.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
  background-color: fade(#000000, 30%);
}

.promo {
  color: #ffffff;
  padding: 27px 20px 0;
  background-image: url("../img/cat-promo.png");
  background-repeat: no-repeat;
  background-size: 100% 302px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .promo {
    background-image: url("../img/cat-promo@2x.png");
  }
}
@media (min-width: 768px) {
  .promo {
    position: relative;
    color: #000000;
    background-color: #ffffff;
    background-image: none;
    min-height: 810px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .promo {
    margin: 0 auto;
    width: 1440px;
    min-height: 499px;
    padding: 0 110px;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .promo__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 41px;
    margin-left: 90px;
    width: 420px;
  }
}
@media (min-width: 1440px) {
  .promo__title {
    margin-left: 80px;
  }
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .promo__text {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 49px;
    margin-left: 90px;
    width: 283px;
  }
}
@media (min-width: 1440px) {
  .promo__text {
    margin-left: 80px;
  }
}

.promo__picture-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}
@media (min-width: 768px) {
  .promo__picture-wrapper {
    position: absolute;
    top: 25%;
    left: 3%;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .promo__picture-wrapper {
    display: block;
    left: 39%;
    top: -11%;
    z-index: 10;
  }
}

@media (min-width: 768px) {
  .promo__picture {
    width: 709px;
  }
}
@media (min-width: 1440px) {
  .promo__picture {
    width: 552px;
  }
}

.promo__button {
  display: block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #69b738;
  padding: 7px 44px;
}
.promo__button:hover {
  background-color: #5eaa2f;
}
.promo__button:active {
  color: #ffffff4d;
  background-color: #5eaa2f;
}
@media (min-width: 768px) {
  .promo__button {
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
    margin-left: 90px;
    width: 244px;
  }
}
@media (min-width: 1440px) {
  .promo__button {
    margin-left: 80px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ffffff;
  padding: 20px;
}
@media (min-width: 768px) {
  .content {
    gap: 30px;
    padding: 0 30px 45px;
  }
}
@media (min-width: 1440px) {
  .content {
    margin: 0 auto;
    width: 1440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 82px 110px 71px;
    gap: 80px;
  }
}

.content__item {
  background-color: #f2f2f2;
  padding: 30px 30px 18px 20px;
}
@media (min-width: 768px) {
  .content__item {
    padding: 77px 62px 53px 52px;
  }
}
@media (min-width: 1440px) {
  .content__item {
    width: 570px;
    padding: 41px 61px 55px 52px;
  }
}

.card-content {
  position: relative;
}

.card-content__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .card-content__wrapper {
    display: block;
  }
}
@media (min-width: 1440px) {
  .card-content__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 39px;
  }
}

.card-content__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .card-content__title {
    width: 206px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }
}
@media (min-width: 1440px) {
  .card-content__title {
    margin-bottom: 0;
  }
}

.card-content__icon-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  order: -1;
  width: 50px;
  height: 50px;
  background-color: #69b738;
  border-radius: 50%;
  margin-right: 19px;
}
@media (min-width: 768px) {
  .card-content__icon-wrapper {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 25%;
    right: 62px;
    margin-right: 0;
  }
}
@media (min-width: 1440px) {
  .card-content__icon-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
    margin-right: 62px;
  }
}

.card-content__icon--slim {
  position: absolute;
  top: -3px;
}
@media (min-width: 768px) {
  .card-content__icon--slim {
    width: 140px;
    height: 194px;
  }
}
@media (min-width: 1440px) {
  .card-content__icon--slim {
    width: 70px;
    height: 97px;
    top: -6px;
  }
}

.card-content__icon--pro {
  position: absolute;
  right: -5px;
}
@media (min-width: 768px) {
  .card-content__icon--pro {
    width: 268px;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .card-content__icon--pro {
    width: 134px;
    height: 56px;
    right: -5px;
  }
}

.card-content__description {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #454545;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .card-content__description {
    width: 340px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 48px;
  }
}
@media (min-width: 1440px) {
  .card-content__description {
    width: 457px;
    margin-bottom: 23px;
  }
}

.card-content__button {
  display: block;
  background-image: url("../img/card-content-arrow.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 24px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  width: 134px;
  padding: 4px 47px 4px 0;
}
@media (min-width: 768px) {
  .card-content__button {
    width: 165px;
  }
}
@media (min-width: 1440px) {
  .card-content__button {
    width: 168px;
  }
}
.card-content__button:hover {
  background-size: 32px 12px;
}
.card-content__button:active {
  opacity: 0.3;
  transition: 0.2s;
}

.advantages {
  padding: 0 20px 49px;
}
@media (min-width: 768px) {
  .advantages {
    padding: 0 105px 47px 30px;
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 1440px) {
  .advantages {
    margin: 0 auto;
    width: 1440px;
    padding: 0 110px 69px;
    border-bottom: none;
  }
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: index;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 153px;
    row-gap: 37px;
  }
}
@media (min-width: 1440px) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 78px;
  }
}

.advantages__item {
  position: relative;
  display: flex;
  align-items: center;
  counter-increment: listCounter;
}
.advantages__item::before {
  content: counters(index, ".", decimal) "";
  counter-increment: index;
  position: absolute;
  display: none;
  font-family: "Oswald", "Arial", sans-serif;
  color: #f2f2f2;
  font-size: 280px;
  z-index: -1;
  top: -100px;
  right: 14px;
}
@media (min-width: 768px) {
  .advantages__item {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0 63px;
  }
  .advantages__item::before {
    display: block;
  }
}

.advantages__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #69b738;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .advantages__icon {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 31px;
  }
}

.advantages__description {
  font-family: "Lato", "Arial", sans-serif;
  width: calc(100% - 80px);
  font-size: 14px;
  line-height: 18px;
  color: #454545;
  margin: 0;
}
.advantages__description br {
  display: none;
}
@media (min-width: 768px) {
  .advantages__description {
    font-size: 16px;
    line-height: 24px;
    width: 245px;
  }
  .advantages__description br {
    display: block;
  }
}

.example {
  padding: 25px 20px 40px;
  background-color: #ebebeb;
}
@media (min-width: 768px) {
  .example {
    padding: 43px 30px 100px;
    background: linear-gradient(#ffffff 600px, #ebebeb 600px);
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .example {
    padding: 0;
    background: linear-gradient(#ffffff 170px, #ebebeb 170px);
  }
}

.example br {
  display: none;
}
@media (min-width: 1440px) {
  .example br {
    display: block;
  }
}

@media (min-width: 1440px) {
  .example-content {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
    padding: 0 110px 75px;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }
}
@media (min-width: 1440px) {
  .example__title {
    margin-bottom: 146px;
  }
}

.example__description {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .example__description {
    width: 436px;
    margin-bottom: 69px;
  }
}

.example__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .example__wrapper {
    grid-template-columns: repeat(2, 162px);
    column-gap: 42px;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    margin-bottom: 55px;
  }
}

@media (min-width: 768px) {
  .example__wrapper-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 99px;
  }
}
@media (min-width: 1440px) {
  .example__wrapper-row {
    display: block;
  }
}

.example__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.example__mesange {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 14px;
  padding-bottom: 17px;
}

.example__text {
  position: absolute;
  width: 77px;
  bottom: 0;
  transform: translateY(50%);
  z-index: 1;
  font-family: "Lato", "Arial", sans-serif;
  text-transform: lowercase;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  background-color: #ebebeb;
  text-align: center;
}
@media (min-width: 768px) {
  .example__text {
    width: auto;
    white-space: nowrap;
    padding: 0 5px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    bottom: 0;
    transform: translateY(50%);
  }
}
@media (min-width: 1440px) {
  .example__text {
    background-color: #ebebeb;
  }
}

.example__aside {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    font-size: 20px;
    text-align: right;
    width: 174px;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .example__aside {
    flex-direction: row;
    justify-content: space-between;
    width: 327px;
  }
}

.cat-boris {
  position: relative;
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .cat-boris {
    width: 560px;
  }
}
@media (min-width: 1440px) {
  .cat-boris {
    margin: 0;
  }
}

.cat-boris__before {
  background-image: url("../img/cat-boris-before.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .cat-boris__before {
    background-image: url("../img/cat-boris-before@2x.png");
    width: 280px;
    height: 256px;
  }
}
@media (min-width: 768px) {
  .cat-boris__before {
    background-image: url("../img/cat-boris-before-tablet.png");
    width: 560px;
    height: 512px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .cat-boris__before {
    background-image: url("../img/cat-boris-before-tablet@2x.png");
  }
}

.cat-boris__after {
  background-image: url("../img/cat-boris-after.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -143px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .cat-boris__after {
    background-image: url("../img/cat-boris-after@2x.png");
    width: 280px;
    height: 256px;
  }
}
@media (min-width: 768px) {
  .cat-boris__after {
    background-image: url("../img/cat-boris-after-tablet.png");
    background-position: -284px;
    width: 560px;
    height: 512px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .cat-boris__after {
    background-image: url("../img/cat-boris-after-tablet@2x.png");
  }
}

.cat-boris__toogle {
  position: absolute;
  background-image: url("../img/cat-boris-toogle.svg");
  background-repeat: no-repeat;
  top: 42%;
  left: 43%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .cat-boris__toogle {
    left: 46%;
  }
}

.cat-boris__toogle::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 116px;
  background-color: #666666;
  border-radius: 2px;
  right: 18px;
  bottom: -287%;
}
@media (min-width: 768px) {
  .cat-boris__toogle::before {
    height: 217px;
    bottom: 40px;
  }
}

.cat-boris__toogle::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 116px;
  background-color: #666666;
  border-radius: 2px;
  right: 18px;
  top: -287%;
}
@media (min-width: 768px) {
  .cat-boris__toogle::after {
    height: 257px;
    top: 40px;
  }
}

.cat-boris__toogle:hover {
  background-image: url("../img/cat-boris-toogle-hover.svg");
}

.cat-boris__toogle:active {
  opacity: 0.6;
}

.cat-boris__toogle:hover::before {
  background-color: #68b738;
}

.cat-boris__toogle:hover::after {
  background-color: #68b738;
}

.cat-boris__toogle:active::before {
  background-color: #5eaa2f;
}

.cat-boris__toogle:active::after {
  background-color: #5eaa2f;
}

.catalog {
  padding: 27px 0 25px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .catalog {
    padding: 0 30px 68px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .catalog {
    width: 1440px;
    margin: 0 auto;
    padding: 0 110px 76px;
  }
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 23px;
  padding: 0 20px 41px;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 82px;
    padding: 0;
    border: none;
  }
}
@media (min-width: 1440px) {
  .catalog__title {
    margin-bottom: 84px;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 60px;
  }
}
@media (min-width: 1440px) {
  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 63px;
  }
}

@media (min-width: 768px) {
  .catalog__item {
    background: linear-gradient(#ffffff 81px, #f2f2f2 81px);
  }
}

@media (min-width: 768px) {
  .catalog__item:last-child {
    align-self: end;
    padding-top: 52px;
    background: #ffffff;
    border: 2px solid #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .catalog__item:last-child {
    padding-top: 40px;
  }
}

.card-catalog {
  padding: 0 20px 24px;
  border-bottom: 1px solid #ebebeb;
}
.card-catalog--another {
  padding: 0 20px;
  border: none;
}
@media (min-width: 768px) {
  .card-catalog {
    display: flex;
    flex-direction: column;
    padding: 0 36px 39px 39px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .card-catalog {
    padding: 0 38px 40px 39px;
  }
}

.card-catalog__layout {
  justify-content: space-between;
  display: flex;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .card-catalog__layout {
    display: block;
    margin-bottom: 33px;
  }
}

.card-catalog__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .card-catalog__wrapper {
    display: block;
  }
}

.card-catalog__picture-wrapper {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .card-catalog__picture-wrapper {
    width: auto;
    margin-bottom: 34px;
    height: 200px;
    align-items: flex-end;
  }
}

@media (min-width: 768px) {
  .card-catalog__picture {
    width: 161px;
  }
}

@media (min-width: 768px) {
  .card-catalog__picture--another {
    width: 168px;
    height: auto;
  }
}
@media (min-width: 1440px) {
  .card-catalog__picture--another {
    width: 172px;
  }
}

.card-catalog__title {
  width: 76px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 18px;
}
.card-catalog__title--another {
  width: 204px;
  margin: 0 auto;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .card-catalog__title {
    width: 174px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 21px;
  }
}

.card-catalog__title br {
  display: none;
}
@media (min-width: 768px) {
  .card-catalog__title br {
    display: block;
  }
}

.card-catalog__description {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .card-catalog__description {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.card-catalog__item {
  width: 140px;
  display: flex;
  justify-content: space-between;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .card-catalog__item {
    width: 100%;
    font-size: 16px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.card-catalog__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .card-catalog__icon-wrapper {
    margin-bottom: 49px;
  }
}

@media (min-width: 768px) {
  .card-catalog__icon {
    width: 60px;
    height: 60px;
  }
}

.card-catalog__text {
  display: block;
  width: 219px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0 auto;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .card-catalog__text {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 87px;
  }
}
@media (min-width: 1440px) {
  .card-catalog__text {
    width: 165px;
  }
}

.card-catalog__button {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #69b738;
  padding: 7px 44px;
}
.card-catalog__button:hover {
  background-color: #5eaa2f;
}
.card-catalog__button:active {
  color: #ffffff4d;
  background-color: #5eaa2f;
}
@media (min-width: 768px) {
  .card-catalog__button {
    padding: 10px 93px;
  }
}
@media (min-width: 1440px) {
  .card-catalog__button {
    padding: 10px 53px;
  }
}

.card-catalog__button--color {
  color: #444444;
  background-color: #f2f2f2;
}
.card-catalog__button--color:hover {
  background-color: #ebebeb;
}
.card-catalog__button--color:active {
  color: #7e7e7e;
  background-color: #ebebeb;
}
@media (min-width: 768px) {
  .card-catalog__button--color {
    padding: 10px 77px;
  }
}
@media (min-width: 1440px) {
  .card-catalog__button--color {
    padding: 10px 40px;
  }
}

.catalog-another {
  padding: 25px 20px 35px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .catalog-another {
    padding: 0 30px 76px;
  }
}
@media (min-width: 1440px) {
  .catalog-another {
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .catalog-another__content {
    width: 1440px;
    margin: 0 auto;
    padding: 0 110px 86px;
  }
}

.catalog-another__title {
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding-bottom: 36px;
  border-bottom: 1px solid #ebebeb;
}
.catalog-another__title::before {
  content: "";
  display: none;
  position: absolute;
  border: 2px solid #68b738;
  width: 10000%;
  top: 25%;
  right: calc(100% + 20px);
}
@media (min-width: 768px) {
  .catalog-another__title::before {
    display: block;
    top: 50%;
    right: calc(100% + 37px);
  }
}
.catalog-another__title::after {
  content: "";
  position: absolute;
  border: 2px solid #68b738;
  width: 10000%;
  top: 25%;
  left: calc(100% - 20px);
}
@media (min-width: 768px) {
  .catalog-another__title::after {
    top: 50%;
    left: calc(100% + 36px);
  }
}
@media (min-width: 768px) {
  .catalog-another__title {
    width: 339px;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    border: none;
    margin-bottom: 80px;
    margin-left: 37px;
  }
}
@media (min-width: 1440px) {
  .catalog-another__title {
    margin-bottom: 81px;
    margin-left: 0;
  }
}

@media (min-width: 1440px) {
  .catalog-another__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.catalog-another__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .catalog-another__list {
    border: 1px solid #cdcdcd;
    margin-bottom: 69px;
  }
}
@media (min-width: 1440px) {
  .catalog-another__list {
    display: flex;
    flex-direction: column;
    width: 896px;
    border: none;
    border-top: 1px solid #cdcdcd;
    padding: 0;
    margin-bottom: 0;
  }
}

.catalog-another__item {
  padding: 13px 0 18px;
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .catalog-another__item {
    padding: 26px 38px 28px;
  }
}
@media (min-width: 1440px) {
  .catalog-another__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding: 17px 0;
  }
}

.catalog-another__aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #68b738d9;
  padding: 21% 22% 15% 21%;
  background-image: url("../img/cat-aside.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .catalog-another__aside {
    background-image: url("../img/cat-aside@2x.png");
    background-position: center;
  }
}
@media (min-width: 768px) {
  .catalog-another__aside {
    flex-direction: row;
    justify-content: space-between;
    padding: 57px 124px 60px 77px;
    background-image: url("../img/cat-aside-tablet.png");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .catalog-another__aside {
    background-image: url("../img/cat-aside-tablet@2x.png");
  }
}
@media (min-width: 1440px) {
  .catalog-another__aside {
    flex-direction: column;
    padding: 56px 43px 42px 41px;
    background-image: url("../img/cat-aside-desktop.png");
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .catalog-another__aside {
    background-image: url("../img/cat-aside-desktop@2x.png");
  }
}

.catalog-another__icon-wrapper {
  margin-bottom: 48px;
}
@media (min-width: 768px) {
  .catalog-another__icon-wrapper {
    margin-bottom: 0;
  }
}

.catalog-another__icon {
  display: block;
}
@media (min-width: 768px) {
  .catalog-another__icon {
    width: 80px;
    height: 83px;
  }
}

.catalog-another__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
@media (min-width: 768px) {
  .catalog-another__text {
    width: 161px;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .catalog-another__text {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .card-catalog-another__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
}
@media (min-width: 1440px) {
  .card-catalog-another__wrapper {
    width: 610px;
    margin-bottom: 0;
  }
}

.card-catalog-another__title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .card-catalog-another__title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.card-catalog-another__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .card-catalog-another__description {
    display: grid;
    grid-template-columns: 134px 42px;
    column-gap: 49px;
    text-align: right;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .card-catalog-another__description {
    grid-template-columns: 131px 42px;
    column-gap: 112px;
    text-align: left;
  }
}

.card-catalog-another__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
@media (min-width: 768px) {
  .card-catalog-another__text {
    font-size: 16px;
    line-height: 20px;
  }
}

.card-catalog-another__button {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #69b738;
  padding: 7px 44px;
}
.card-catalog-another__button:hover {
  background-color: #5eaa2f;
}
.card-catalog-another__button:active {
  color: #ffffff4d;
  background-color: #5eaa2f;
}
@media (min-width: 1440px) {
  .card-catalog-another__button {
    padding: 7px 26px;
    width: 244px;
  }
}

.program-cat {
  padding: 27px 0 32px;
}
@media (min-width: 768px) {
  .program-cat {
    padding: 3px 0 72px;
  }
}
@media (min-width: 1440px) {
  .program-cat {
    padding: 0 0 82px;
  }
}

.program-cat__title {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  margin-bottom: 37px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .program-cat__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .program-cat__title {
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 56px;
    padding: 0 110px;
  }
}

.form {
  overflow: hidden;
}

@media (min-width: 1440px) {
  .form__container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
  }
}

.form__title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 39px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    margin-bottom: 66px;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .form__title {
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 66px;
    padding: 0 110px;
  }
}

.form__input-icon-title,
.form__textarea-title,
.form__checkbox-title {
  margin: 0;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: 768px) {
  .form__input-icon-title,
.form__textarea-title,
.form__checkbox-title {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__input-icon-title {
  position: relative;
  margin-bottom: 35px;
  width: 187px;
}
.form__input-icon-title::after {
  content: "";
  position: absolute;
  display: none;
  width: 10000%;
  border: 2px solid #68b738;
}
@media (min-width: 768px) {
  .form__input-icon-title::after {
    display: block;
    top: 50%;
    right: calc(100% + 39px);
  }
}
@media (min-width: 1440px) {
  .form__input-icon-title::after {
    top: 55%;
  }
}
.form__input-icon-title::before {
  content: "";
  position: absolute;
  border: 2px solid #68b738;
  width: 10000%;
  top: 25%;
  left: calc(100% + 14px);
}
@media (min-width: 768px) {
  .form__input-icon-title::before {
    top: 50%;
    right: calc(100% + 42px);
  }
}
@media (min-width: 1440px) {
  .form__input-icon-title::before {
    top: 55%;
  }
}
@media (min-width: 768px) {
  .form__input-icon-title {
    width: 514px;
    margin-bottom: 76px;
  }
}

.form__textarea-title {
  position: relative;
  margin-bottom: 38px;
  width: 121px;
}
.form__textarea-title::after {
  content: "";
  position: absolute;
  display: none;
  width: 10000%;
  border: 2px solid #68b738;
}
@media (min-width: 768px) {
  .form__textarea-title::after {
    display: block;
    top: 50%;
    right: calc(100% + 39px);
  }
}
@media (min-width: 1440px) {
  .form__textarea-title::after {
    top: 55%;
  }
}
.form__textarea-title::before {
  content: "";
  position: absolute;
  border: 2px solid #68b738;
  width: 10000%;
  top: 50%;
  left: calc(100% + 22px);
}
@media (min-width: 768px) {
  .form__textarea-title::before {
    top: 50%;
    right: calc(100% + 41px);
  }
}
@media (min-width: 1440px) {
  .form__textarea-title::before {
    top: 55%;
  }
}
@media (min-width: 768px) {
  .form__textarea-title {
    margin-bottom: 76px;
    width: 182px;
  }
}

.form__wrapper {
  margin-bottom: 27px;
}
@media (min-width: 768px) {
  .form__wrapper {
    padding: 0 70px;
    margin-bottom: 71px;
  }
}
@media (min-width: 1440px) {
  .form__wrapper {
    width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 569px 568px;
    column-gap: 80px;
    margin-bottom: 65px;
    padding: 0 110px;
  }
}

.form__checkbox-title {
  position: relative;
  margin-bottom: 34px;
  width: 141px;
}
.form__checkbox-title::after {
  content: "";
  position: absolute;
  display: none;
  width: 10000%;
  border: 2px solid #68b738;
}
@media (min-width: 768px) {
  .form__checkbox-title::after {
    display: block;
    top: 50%;
    right: calc(100% + 39px);
  }
}
@media (min-width: 1440px) {
  .form__checkbox-title::after {
    top: 55%;
  }
}
.form__checkbox-title::before {
  content: "";
  position: absolute;
  border: 2px solid #68b738;
  width: 10000%;
  top: 50%;
  left: calc(100% + 23px);
}
@media (min-width: 768px) {
  .form__checkbox-title::before {
    top: 50%;
    right: calc(100% + 42px);
  }
}
@media (min-width: 1440px) {
  .form__checkbox-title::before {
    top: 55%;
  }
}
@media (min-width: 768px) {
  .form__checkbox-title {
    margin-bottom: 57px;
    width: 211px;
  }
}

.form__input-icon,
.form__checkbox,
.form__textarea,
.form__wrapper-button {
  margin: 0;
  padding: 0 20px;
  border: none;
}
@media (min-width: 768px) {
  .form__input-icon,
.form__checkbox,
.form__textarea,
.form__wrapper-button {
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .form__input-icon,
.form__checkbox,
.form__textarea,
.form__wrapper-button {
    padding: 0;
  }
}

.form__input {
  margin: 0;
  padding: 0 20px;
  margin-bottom: 23px;
  border: none;
}
@media (min-width: 768px) {
  .form__input {
    padding: 0;
    margin-bottom: 72px;
  }
}
@media (min-width: 1440px) {
  .form__input {
    margin-bottom: 0;
  }
}

.form__radio {
  margin: 0;
  padding: 23px 20px 18px 20px;
  border: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .form__radio {
    padding: 25px 28px;
    border: 1px solid #e7e7e7;
  }
}

.form__input-icon {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .form__input-icon {
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .form__input-icon {
    margin-bottom: 67px;
  }
}

.form__textarea {
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .form__textarea {
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .form__textarea {
    margin-bottom: 67px;
  }
}

.form__checkbox {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .form__checkbox {
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .form__checkbox {
    margin-bottom: 61px;
  }
}

.form__textarea-description {
  font-family: inherit;
  width: 100%;
  height: 150px;
  resize: none;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding: 9px 12px;
  border: 1px solid #e7e7e7;
}
.form__textarea-description:focus {
  box-shadow: 0 0 0 2px #444444 inset;
}
@media (min-width: 768px) {
  .form__textarea-description {
    padding: 10px 19px;
    min-height: 174px;
  }
}

.form__wrapper-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .form__wrapper-button {
    display: grid;
    grid-template-columns: 280px 174px;
    column-gap: 64px;
    justify-content: flex-start;
  }
}
@media (min-width: 1440px) {
  .form__wrapper-button {
    width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
    grid-template-columns: 568px 174px;
    column-gap: 84px;
  }
}

.form__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  border: none;
  color: #ffffff;
  background-color: #69b738;
  width: 280px;
  padding: 7px 44px;
  margin-bottom: 21px;
  cursor: pointer;
}
.form__button:hover {
  background-color: #5eaa2f;
}
.form__button:active {
  color: #ffffff4d;
  background-color: #5eaa2f;
}
@media (min-width: 768px) {
  .form__button {
    font-size: 20px;
    margin-bottom: 0;
    padding: 13px 45px;
  }
}
@media (min-width: 1440px) {
  .form__button {
    width: auto;
    padding: 13px 188px;
  }
}

.form__control {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
@media (min-width: 768px) {
  .form__control {
    font-size: 16px;
    line-height: 16px;
  }
}

.user-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .user-list {
    gap: 20px;
  }
}

@media (min-width: 1440px) {
  .user-list--layout {
    display: grid;
    grid-template-columns: 569px 572px;
    column-gap: 78px;
  }
}

.user-list__item {
  display: flex;
  align-items: center;
  gap: 13px;
}

.user-list__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .user-list__label {
    font-size: 20px;
    line-height: 30px;
  }
}

.user-list__input-wrapper {
  display: flex;
  flex-grow: 1;
}

.user-list__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  margin: 0;
  padding: 14px 38px 14px 15px;
  border: 1px solid #e7e7e7;
  width: 100%;
  outline: none;
}
.user-list__input:hover {
  border: 1px solid #cdcdcd;
}
.user-list__input:focus {
  box-shadow: 0 0 0 2px #444444 inset;
}
.user-list__input:focus + .user-list__icon {
  stroke: #68b738;
}
.user-list__input:focus:invalid {
  box-shadow: 0 0 0 2px #ff8282 inset;
}
.user-list__input:focus:invalid + .user-list__icon {
  stroke: #ff8282;
}
@media (min-width: 768px) {
  .user-list__input {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 45px 11px 20px;
  }
}

.user-list__input-wrapper--icon {
  position: relative;
}

.user-list__icon {
  position: absolute;
  stroke: #000000;
  top: 35%;
  right: 13px;
}
@media (min-width: 768px) {
  .user-list__icon {
    right: 18px;
  }
}

.list-radio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 13px;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .list-radio {
    gap: 22px;
  }
}

.list-radio__label {
  position: relative;
  padding: 5px 0 5px 45px;
  cursor: pointer;
}
.list-radio__label:disabled {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .list-radio__label {
    padding: 10px 0 10px 60px;
  }
}

.list-radio__label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .list-radio__label::before {
    width: 40px;
    height: 40px;
  }
}

.list-radio__label:hover::before {
  border-color: #bababa;
}

.list-radio__text::after {
  content: "";
  position: absolute;
  opacity: 0;
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%;
  left: 9px;
  top: 11px;
}
@media (min-width: 768px) {
  .list-radio__text::after {
    width: 18px;
    height: 18px;
    left: 11px;
    top: 13px;
  }
}

.list-radio__input:checked + .list-radio__text::after {
  opacity: 1;
}

.list-radio__text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .list-radio__text {
    font-size: 20px;
    line-height: 30px;
  }
}

.list-checkbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .list-checkbox {
    display: grid;
    grid-template-columns: 221px 189px;
    column-gap: 123px;
    row-gap: 32px;
  }
}
@media (min-width: 1440px) {
  .list-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.list-checkbox__label {
  position: relative;
  padding: 6px 0 6px 46px;
  cursor: pointer;
}
.list-checkbox__label:disabled {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .list-checkbox__label {
    padding: 9px 0 6px 60px;
  }
}

.list-checkbox__label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  left: 0;
  top: 0;
}
@media (min-width: 768px) {
  .list-checkbox__label::before {
    width: 40px;
    height: 40px;
  }
}

.list-checkbox__label:hover::before {
  border-color: #bababa;
}

.list-checkbox__label::after {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-icon.svg");
  background-repeat: no-repeat;
  display: none;
  width: 18px;
  height: 14px;
  top: 7px;
  left: 6px;
}
@media (min-width: 768px) {
  .list-checkbox__label::after {
    background-image: url("../img/checkbox-icon-tablet.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 18px;
    top: 9px;
    left: 9px;
  }
}

.list-checkbox__input:checked + .list-checkbox__label::after {
  display: block;
}

.list-checkbox__text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .list-checkbox__text {
    font-size: 20px;
    line-height: 30px;
  }
}
/*# sourceMappingURL=style.css.map */