.catalog-another {
  padding: 25px 20px 35px;
}

.catalog-another__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-bottom: 36px;
}

.catalog-another__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 54px;
}

.catalog-another__item {
  margin-bottom: 32px;
}

.catalog-another__item:last-child {
  margin-bottom: 0;
}

.catalog-another__aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(104, 183, 56, 0.85);
}

.catalog-another__text {
  font-family: "Layto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
