.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.main-footer__logo {
  margin-bottom: 40px;
}

.main-footer__social {
  margin-bottom: 40px;
}

