.site-list {
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__link {
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  text-align: center;
}
