// Общие свойства для 3-х страниц
@import "varibles";
@import "./blocks/global";
@import "./blocks/font";
@import "./blocks/page";
@import "./blocks/main-header";
@import "./blocks/site-list";
@import "./blocks/store-location";
@import "./blocks/address-content";
@import "./blocks/main-footer";
@import "./blocks/social";
@import "./blocks/html-academy";
@import "./blocks/main-nav.scss";

// Index
@import "./blocks/promo";
@import "./blocks/content";
@import "./blocks/card-content";
@import "./blocks/advantages";
@import "./blocks/example";
@import "./blocks/cat-boris.scss";

// Catalog
@import "./blocks/catalog";
@import "./blocks/card-catalog";
@import "./blocks/catalog-another";
@import "./blocks/card-catalog-another";

// Form
@import "./blocks/program-cat";
@import "./blocks/form";
@import "./blocks/user-list";
@import "./blocks/list-radio";
@import "./blocks/list-checkbox.scss"
