.advantages {
  padding: 0 20px 49px;
}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.advantages__item:last-child {
  margin-bottom: 0;
}

.advantages__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60px;
  height: 60px;
  background-color: hsl(97, 53%, 47%);
  margin-right: 20px;
}

.advantages__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: hsl(0, 0%, 27%);
  margin: 0;
}
